
VITE_FIREBASE_API_KEY="AIzaSyCKwovJyLjlDZWDGU8i9GQlQCV25W6TTBc"
VITE_FIREBASE_AUTH_DOMAIN="your_project.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="today-with-christ"
VITE_FIREBASE_STORAGE_BUCKET="today-with-christ.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="735290542957"
VITE_FIREBASE_APP_ID="1:735290542957:web:e682b13e4043a8c1446864"
VITE_FIREBASE_MEASUREMENT_ID="G-QZCEZ9NZXP"
VITE_FIREBASE_VAPID_KEY="your_vapid_key"

